@model IEnumerable<Gestion_Immobiliére.Models.Owner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <button>
        @Html.ActionLink("Create New", "Create")
    </button>
   
</p>
<table class="table" id="Owners">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_name_owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_mail_owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_number_owner)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name_owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_mail_owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone_number_owner)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_owner }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_owner }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_owner })
                </td>
            </tr>
        }

    </tbody>



</table>

@section scripts
{
    <script>
        $(document).ready(function () { $("#Owners").DataTable() })
    </script>
}
